# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
debt_by_children = data.groupby('children').agg({'debt':['count', 'sum']}) #Решил попробовать через агрегированную функцию
conversion = debt_by_children['debt']['sum'] / debt_by_children['debt']['count'] #Такой вариант кажется "чище"
display(conversion)

children
0    0.075353
1    0.092327
2    0.094542
3    0.081818
4    0.097561
5    0.000000
dtype: float64

**Вывод:**  
Посчитав количество должников, в зависимости от количества детей в семье, можно сделать вывод:  
■ Чем больше детей в семье, тем вероятнее, что долг не будет возвращен вовремя.   
■ Однако, по конверсии видно, что утверджать это можно лишь с оговорками:   
• В случае, когда в семье трое детей процент должников ниже, чем когда двое.  
• Если детей нет вообще, люди реже просрачивают выплаты. В ситуации, когда в семье 5 детей, должников нет(возможно из-за недостаточной выборки).

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [23]:
debt_by_family_status = data.groupby('family_status').agg({'debt':['count', 'sum']}) 
conversion = debt_by_family_status['debt']['sum'] / debt_by_family_status['debt']['count']
display(conversion)

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.092861
женат / замужем          0.075575
dtype: float64

**Вывод:**  

■ По результатам вычислений, можно заметить, что меньше всего должников среди тех, кто развелся или овдовел.  
■ Среди 'женат / замужем' доля неплательщиков примерно равна 'в разводе'.  
■ Люди, живущие гражданским браком или 'Не женат / не замужем' - категории с самым плохим показателем(возможно, в эту категорию попадает большое количество молодежи, которая не подходят под определение "ответственный" или еще не пришли к этому с опытом).

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [24]:
income_debt = data[['total_income_category', 'debt']] 
income_debt_count = income_debt.groupby('total_income_category').count()
#print(income_debt_count)
income_debt_count['num'] = income_debt.loc[income_debt['debt'] == 1].groupby('total_income_category').sum()
print(income_debt_count)
income_debt_count['conversion'] = income_debt_count['num'] / income_debt_count['debt']
income_debt_count.sort_values('conversion', ascending=False)

                        debt   num
total_income_category
A                         25     2
B                       5014   354
C                      15938  1353
D                        349    21
E                         22     2

                        debt   num  conversion
total_income_category
E                         22     2    0.090909
C                      15938  1353    0.084891
A                         25     2    0.080000
B                       5014   354    0.070602
D                        349    21    0.060172

**Вывод:**  
■ Больше всего процент должников в категории 'Е', с уровнем дохода до 30 тыс. руб. Возможно, они используют кредитные средства как дополнительный ресурс, чтобы не так сильно зависеть от сроков зарплаты и почти в каждом 10 случае не успевают вернуть в срок.   
■ Кол-во должников с наименьшим и наибольшим доходом равны. Скорее всего, первые из-за отсутствия одобрений со стороны банка, вторые из-за отсутствия необходимости. Но конверсия говорит, что категория "А" занимает лишь третью позицию в списке "Злостных плательщиков". Возможно, суммы кредитов больше, в зависимости от предодобренной суммы, не рассчитывают свои силы или просто забывают, пренебрегают сроками.  
• Опираясь на эти данные, тяжело однозначно сказать, что, чем выше уровень дохода, тем выше вероятность возврата кредита в срок. Это утверждение верно только для категорий "Е" и "D", там видно снижение кол-ва должников в зависимости от повышения категории дохода.  
• В категории "D" должников меньше всего.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [25]:
#Решение по рекомендации ревьюера.
# Решил построить сводную таблицу сразу по двум категориям, чтобы решить сразу две задачи из 3его раздела. 
# В полученной таблице видна взаимосвязь между уровнем дохода клиента и целью кредита со средним значением должников в каждой категории.
# Таблицы по решению одной задачи получались трудночитаемыми, хоть и отвечали на вопрос задачи.
# Надеюсь, в качестве тренировки, этот вариант решения подойдет, на мой взгляд, тут показана интересная взаимосвязь,
# которую не было возможности так наглядно показать при обычном решении.


data_pivot = data.pivot_table(index=['purpose_category'], columns='total_income_category', values='debt', aggfunc='mean')
#data_pivot.sort_values('purpose_category', ascending=False)
data_pivot_grouped = data_pivot.groupby







#Верное решение до проверки ревьюера ↓
#purpose_category = data[['purpose_category', 'purpose', 'debt']] 
#purpose_category_count = purpose_category.groupby('purpose_category').count()
#purpose_category_count['num'] = purpose_category.loc[purpose_category['debt'] == 1].groupby('purpose_category').sum()
#purpose_category_count['conversion'] = purpose_category_count['num'] / purpose_category_count['debt']
#purpose_category_count[['conversion']].sort_values('conversion', ascending=False)

**Вывод:**  
В результате группировки по категории цели видно:  
■ Количество должников в категориях, где цели "операции с автомобилем" и "получение образования" почти равны.  
■ Чуть меньше похожи значения в категориях "проведение свадьбы" и "операции с недвижимостью", но тоже достаточно близки.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:*  
В основном, проблемы с пропусками в данных появляются из-за технических причин или человеческого фактора:  
■ К человеческому фактору можно отнести:  
• Нежелание человека заполнять данные, например - e-mail редко оказывают при заполнении персональных данных.
■ К техническим причинам можно отнести:  
• Поломки оборудования

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:*   
• Медианное значение не зависит от всех значений в наборе данных в отличии от среднего. Если распределение искажено, медиана является лучшим показателем центральной тенденции.

## Общий вывод.

• Наличие детей негативно влияет на возврат кредита в срок, т.к. кол-во должников с 1 и более детьми больше.  
• Должниками в связи с семейным положением чаще становятся "не женат/не замужем". Зависимость есть.  
• Явной зависимости между уровнем дохода и возвратом кредита в срок не обнаружено.  
• Доказана зависимость между целью кредита и возвратом кредита в срок, т.к. значительно больше должников брали кредиты на цели, связанные с образованием или на связанные с автомобилем операции.   
Резюмируя, повторим общие выводы:    
Есть зависимость между статусом должника и наличием детей, целью кредита, семейным положением. Зависимости между размером   дохода и возвратом кредита, в установленный банком срок, не обнаружено.